<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hbq969.example.dao.ExampleDao">

  <select id="queryList" resultType="com.github.hbq969.example.dao.entity.DictEntity">
    select field_name AS "fieldName",
           field_desc AS "fieldDesc",
           enum_type  AS "enumType"
    from h_dict_base
  </select>
</mapper>